.viewport {
    width: 16rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1rem;
}
.leCoin {
    width: 100%;
}
.leHeader {
    width: 100%;
    background-color: #ED5353;
    height: 130px;
    position: relative;
}
.leHeaderExplain {
    width: 100%;
    float: right;
    text-align: right;
    margin-top: 15px;
    margin-right: 4%;
}
.leHeaderExplain a {
    color: #fff!important;
    font-size: 0.65rem;
}
a {
    color: #333;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.leHeaderP1 {
    width: 92%;
    margin-left: 8%;
    float: left;
    font-size: 0.65rem;
    color: #fff;
}
.leHeaderCoin {
    width: 92%;
    margin-left: 8%;
    margin-top: 1rem;
    float: left;
    color: #fff;
}
.leHeaderCoin > span {
    font-size: 2.75rem;
    margin-right: 0.5rem;
    font-family: 'Helvetica';
}
.leConnBox {
    width: 100%;
    padding-left: 3%;
    background-color: #fff;
    border-top: #EDEDED 1px solid;
    border-bottom: #EDEDED 1px solid;
    margin-top: 0.5rem;
}
.leconnTitle {
    font-size: 15px;
    padding: 10px 0;
    color: #333;
}
.leConnBox > ul {
    width: 100%;
}
.loading {
    width: 100%;
    text-align: center;
    display: none;
    padding-bottom: 10px;
}
.loading > img {
    height: 20px;
}
img {
    border: none;
    vertical-align: middle;
}
.noMath {
    width: 100%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #999;
    display: none;
    border-top: 1px solid #EDEDED;
}
.isNone {
    background: none;
    padding: 20% 0px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scale(1, 1);
}
.isNone_a {
    color: #aaa;
    text-align: center;
    background: url("https://image.meilele.com/wap/images/nodata/nodata_01.png") no-repeat center 0;
    background-size: 100px;
    padding-top: 105px;
    font-size: 0.65rem;
}
.ziying {
    position: absolute;
    top: 2.94rem;
    height: 55%;
    height: 3.58rem;
    width: 100%;
    text-align: right;
}
.ziying > img {
    height: 100%;
}
img {
    border: none;
    vertical-align: middle;
}